.floatButton {
  display: flex;
  flex-direction: column;
}
.disabled {
  display: none !important;
}
.floatButton a {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 56px;
  width: 56px;
  border-radius: 30px;
}

@media screen and (max-height: 650px) {
  .icon:nth-child(1) {
    top: 53vh;
  }
  .icon:nth-child(2) {
    top: 65vh;
  }
  .icon:nth-child(3) {
    top: 77vh;
  }
}
@media screen and (max-height: 450px) {
  .icon:nth-child(1) {
    top: 41vh;
  }
  .icon:nth-child(2) {
    top: 57vh;
  }
  .icon:nth-child(3) {
    top: 73vh;
  }
}
@media screen and (max-height: 330px) {
  .icon:nth-child(1) {
    top: 35vh;
  }
  .icon:nth-child(2) {
    top: 53vh;
  }
  .icon:nth-child(3) {
    top: 71vh;
  }
}
