#moda {
  padding: 72px 80px 48px 80px;
}
#moda img {
  width: 416px;
  height: 432px;
}
.containers {
  position: relative;
  width: fit-content;
  margin: 0 auto;
}

#moda .imgsGap {
  gap: 16px;
}
#moda h2 {
  position: absolute;
  top: -3%;
  left: -8%;
}

#moda .titleNoche {
  top: 106.5%;
}

#moda h3 {
  font-size: 16px;
}

/* carouselNoche */

.slick-slider {
  display: flex;
  justify-content: center;
}
.slick-slide {
  margin-right: 16px;
}
.slick-track {
  display: flex;
}
.slick-prev {
  left: 14%;
}
.slick-next {
  right: 15%;
}

.slick-list {
  width: 1285px;
}
.containerNoche:focus {
  outline: none;
}

@media screen and (max-width: 1700px) {
  .slick-prev {
    left: 10%;
  }
  .slick-next {
    right: 11%;
  }
}
@media screen and (max-width: 1550px) {
  .slick-prev {
    left: 4%;
  }
  .slick-next {
    right: 5%;
  }
}
@media screen and (max-width: 1150px) {
  #moda img {
    width: 316px;
    height: 316px;
  }
}
@media screen and (max-width: 950px) {
  #moda img {
    width: 216px;
    height: 216px;
  }

  #moda h2 {
    left: -15%;
  }
  .slick-list {
    width: 680px;
  }
  .slick-prev {
    left: 8%;
  }
  .slick-next {
    right: 9.2%;
  }
}
@media screen and (max-width: 750px) {
  #moda {
    padding-inline: 20px;
  }
  .slick-prev {
    left: 3%;
  }
  .slick-next {
    right: 5%;
  }
  #moda .titleNoche {
    top: 109.5%;
  }
}
@media screen and (max-width: 600px) {
  #moda img {
    width: 186px;
    height: 186px;
  }

  #moda h2 {
    left: -20%;
  }

  .slick-prev {
    left: 2%;
  }
  .slick-next {
    right: 5%;
  }
  .slick-list {
    width: fit-content;
  }
}
@media screen and (max-width: 500px) {
  #moda img {
    width: 156px;
    height: 156px;
  }

  #moda h2 {
    left: -20%;
  }
  .slick-prev {
    left: 2%;
  }
  #moda .titleNoche {
    top: 112.5%;
  }
}
@media screen and (max-width: 450px) {
  #moda h2 {
    left: -27%;
  }
}
@media screen and (max-width: 399px) {
  #moda img {
    width: 126px;
    height: 126px;
  }
  #moda h2 {
    left: -30%;
  }

  .slick-prev {
    left: 0.5%;
  }
}
