#footer {
  background-color: #0e0e0e;
  padding: 40px 80px 40px 80px;
  font-family: Montserrat;
  font-style: normal;
  text-transform: capitalize;
}

.adress h3 {
  color: #cbcbcb;
  font-size: 12px; /* 133.333% */
}

.contact ul {
  height: 224px;
  width: 126px;
}

.contact ul li {
  height: 32px;
  width: 116px;
  gap: 10px;
  flex-shrink: 0;
}
